.searchComponent{
  font-family: Helvetica;
  font-size: 14px;
  padding: 0px 0px;
  overflow: auto;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.searchComponent .search-container {
  
}

.searchComponent input[type=text] {
  padding: 4px;
  margin-top: 8px;
  font-size: 17px;
}

.searchComponent .search-container button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchComponent .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .searchComponent .search-container {
    float: none;
  }
  .searchComponent .a, .searchComponent input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 14px;
  }
  .searchComponent input[type=text] {
    border: 1px solid #ccc;  
  }
}



